*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal-item td {
    text-align: center;
}
.quantity {
    text-align: center;
    font-size: 0.9em;
}
.trash:hover {
    cursor: pointer;
}
.trash {
    color: #eb6767;
}

