
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/************************************************** Product Tile */
.products{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  padding: 20px;
}
.product-tile{
  display: grid;
  margin: 30px;
  grid-template-columns: 100%;
  grid-template-rows: 120px auto 20px;
  border-radius: 5px;
  max-width: 200px;
}
img{
  margin: 0 auto;
}
.price{
  font-weight: bold;
  text-align: center;
}

button {
  height: 30px;
}

.remove {
  align-self: center;
  text-align: center;
  color: orange;
}
/************************************************** Product */



/************************************************** Pagination */
nav {
 display: flex;
 margin-top: 20px;
 justify-content: space-evenly; 
}
ul { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

 a{
  text-decoration: none;
  margin: 0 2px;
   
 }

 /************************************************** Shopping Cart */

 .shopping-cart{
   display: inline;  
   margin-left: 10px;
   padding: 5px;
   border: solid 2px black;
 }