
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/************************************************** Product Tile */
.product-tile{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px auto 20px;
  border-radius: 5px;
  max-width: 200px;
}

.price{
  font-weight: bold;
}

/************************************************** Product */
.products{

}


/************************************************** Pagination */
nav {

}
ul { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;

}
 ul li {
  margin: 0 2px;
 }

 a{
  text-decoration: none;

   
 }